@import "tailwindcss";

:root {
  /* Base */
  --background: #030303;
  --foreground: #ededed;

  /* Card */
  --card: #1A1A1A;
  --card-hover: #272727;

  /* Text */
  --text-heading: #F7F7F7;
  --text-base: #B3B1B1;
  --text-muted: #666666;
  --text-link: #FFFFFF;
  --text-link-hover: #EDDF5C;

  /* Button */
  --text-button-base: #030303;
  
  /* Accent */
  --accent-red: #FE6A6A;
  --accent-orange: #FFA86B;
  --accent-yellow: #EDDF5C;
  --accent-green: #D1FE6A;
  --accent-cyan: #6AFEF5;
  --accent-blue: #6AB7FE;
  --accent-indigo: #756BFF;
  --accent-purple: #BD6AFE;
  --accent-pink: #FE6AE6;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Text colors */
  --color-heading: var(--text-heading);
  --color-base: var(--text-base);
  --color-muted: var(--text-muted);
  --color-link: var(--text-link);
  --color-link-hover: var(--text-link-hover);
  
  /* Card */
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  
  /* Accent */
  --color-accent-red: var(--accent-red);
  --color-accent-orange: var(--accent-orange);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-green: var(--accent-green);
  --color-accent-cyan: var(--accent-cyan);
  --color-accent-blue: var(--accent-blue);
  --color-accent-indigo: var(--accent-indigo);
  --color-accent-purple: var(--accent-purple);
  --color-accent-pink: var(--accent-pink);
}

body {
  background: var(--background);
  color: var(--text-base);
  font-family: var(--font-onest), system-ui, sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-heading);
    font-family: var(--font-unbounded), system-ui, sans-serif;
    font-weight: 600;
  }
}
